// Place all the styles related to the Dice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    font-family: Arial;
	margin: 20px auto;
    width: 960px;
}


p{
	font-size: 20px;
}

.button{
	background-color: #008000;
	height: 40px;
    wideth: 120px;
    padding-left:18px;
    padding-right:18px;
    font-size:13px;
    color: white;
}